label {
    font-weight: bold;
    color: #080c08;
    margin-bottom: 5px;
    background-color: rgb(255, 255, 255);
    font:bold;
    font-size: large;
    box-shadow: 0px 0px 5px;
    border: 4px solid rgb(255, 255, 255);
    border-radius: 6px;
}

#fejlec{
    visibility:hidden;
    color: #080c08;
    font-weight: bold;
    position: top;
    width:100%;
    top:-25px;
    left:-5px;
    background-color: rgb(3, 124, 33);
    border: 30px solid rgb(3, 124, 33);
    border-radius: 6px;
    transition: top 1s;
}

#logo{
    position: relative;
    width: 200px;
    height:200px;
}
 

#username{
    width: 300px;
    height: 25px;
    background-color: rgb(255, 255, 255);
    font:bold;
    font-size: large;
    box-shadow: 0px 0px 5px;
    border: 4px solid rgb(255, 255, 255);
    border-radius: 6px;
}

#email{
    width: 300px;
    height: 25px;
    background-color: rgb(255, 255, 255);
    font:bold;
    font-size: large;
    box-shadow: 0px 0px 5px;
    border: 4px solid rgb(255, 255, 255);
    border-radius: 6px;
}

#password{
    width: 300px;
    height: 25px;
    background-color: rgb(255, 255, 255);
    font:bold;
    font-size: large;
    box-shadow: 0px 0px 5px;
    border: 4px solid rgb(255, 255, 255);
    border-radius: 6px;
}

#password2{
    width: 300px;
    height: 25px;
    background-color: rgb(255, 255, 255);
    font:bold;
    font-size: large;
    box-shadow: 0px 0px 5px;
    border: 4px solid rgb(255, 255, 255);
    border-radius: 6px;
}


.button{
    visibility: visible;
    background-color: rgb(255, 255, 255);
    font:bold;
    font-size: large;
    box-shadow: 0px 0px 5px;
    border: 4px solid rgb(255, 255, 255);
    border-radius: 6px;
}

.button:hover{
    box-shadow: 0px 0px 2px;
    scale: 0.975;
}

#buttoncontainer{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;

}
.buttonlogout{
    position: absolute;
    top: 25px;
    right: 25px;
    visibility: visible;
    background-color: rgb(255, 255, 255);
    font:bold;
    font-size: large;
    box-shadow: 0px 0px 5px;
    border: 4px solid rgb(255, 255, 255);
    border-radius: 6px;
}



.buttonlogout:hover{
    box-shadow: 0px 0px 2px;
    scale: 0.975;
}


.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    opacity: 1;
    transition: opacity 1s;
}

#output{
    z-index: -3;
    position: inherit;
    top: 50px;
    display: none;
}
@property --a {
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}

#p{
    opacity: 0;
    animation: fadeIn ease-in 1;
    animation-fill-mode: forwards;
    animation-duration: 1s;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }

}

#iu7l{
    position: fixed;
    backdrop-filter: blur(3px);
    width: 100px;
    height: 100px;

    border-radius: 50%;
    opacity: 0;
    animation: fadeIn ease-in 1;
    animation-fill-mode: forwards;
    animation-duration: 1s;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#háttérkép{
    position: fixed;
    top: 0px;
    left:0px;
    width: 100%;
    height: auto;
    z-index: -1;
    opacity: 0;
    animation: fadeIn ease-in 1;
    animation-fill-mode: forwards;
    animation-duration: 1s;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.circle {
    --a:0deg;
    position: fixed;


    z-index: -1;
    width: 500px;
    height: 500px;
    background:conic-gradient(rgb(0, 0, 0) 0deg,rgb(0, 0, 0) var(--a) ,transparent var(--a),transparent);
    transition: --a 0.3s, width 1s,height 1s;
    -webkit-mask-image: url("public/key.png");
    mask-image: url("public/key.png");
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-origin:inherit;
    mask-origin: inherit;
    

}

#table{
    top: 50px;
    width: 100%;
    text-align: center;
}

th{
    column-width: 33vh;
    row-gap: 2px;
    background-color: rgb(255, 255, 255);
    font:bold;
    font-size: large;
    box-shadow: 0px 0px 5px;
    border: 4px solid rgb(255, 255, 255);
    border-radius: 6px;
}

td{
    visibility: visible;
    background-color: rgb(255, 255, 255);
    font:bold;
    font-size: large;
    box-shadow: 0px 0px 5px;
    border: 4px solid rgb(255, 255, 255);
    border-radius: 6px;
}

#háttér{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
}